@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   list-style-type: none;
   text-decoration: none;
}
html{
   scroll-behavior: smooth;
}
body{
   font-family: 'Roboto', sans-serif;
   height: 125vh;
   width:100%;
   /* padding:.5% 7%; */
   user-select: auto;
   background-color: #000;
   overflow-x: hidden;
   scroll-behavior: smooth;
}
/* navigation bar start */
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-flow:row wrap;
   background-color: #000;
   position:sticky;
   top:0;
   z-index: 10;
   margin-top:8px;
   padding:15px 30px;
}
nav .navbar-title a {
   display: inline-block;
   color:#fff;
   font-size:1.2rem;
   font-weight:400;
   letter-spacing: .2px;
   border: .8px solid #fff;
   padding:6px 15px;
   border-radius: 2px;
   cursor: pointer;
   user-select: none;
   outline: none;
}
.navbar-links  {
   position: relative;
   right: 5%;
   display: flex;
   justify-content:flex-end;
   column-gap:40px;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   flex:1;
}
.navbar-links  li a{
   text-decoration: none;
   display: inline-block;
   color:#fff;
   font-size: 1.2rem;
   font-weight: 350;
   letter-spacing: .5px;
   transition: all 1s ease-in;
}
.navbar-links  li a:hover{
   text-decoration: underline;
   color:#fff;
}
.navbar-links  li a:active{
   color: rgb(230, 230, 230);
}

/* navigation bar end */

/* main section start */
main{
   position: relative;
   top:15%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:auto;
   user-select: auto;
   flex-flow:row wrap;
   padding:.5% 7%;
}
main .section-header{
   margin-bottom: 8%;
}
main .section-header h1{
   color:#fff;
   font-size:3.6rem;
   font-weight: 700;
   letter-spacing: .5px;
   padding:15px 0;
}
main .section-header p {
   color:#fff;
   font-size:1.3rem;
   line-height: 1.5;
   letter-spacing: .8px;
   font-weight: 300;
   padding:12px 0;
}
main .subsection-header a img{
   display:block;
   max-width:600px;
   height: auto;
   user-select: none;
   margin-top:-5%;
   transition: opacity .2s ease-in;
   border-radius: 5px;
}
main .subsection-header a img:hover{
   opacity: 0.8;
}
main .section-header .section-link{
   margin:20px 0;
}
main .section-header .section-link a {
   display: inline-block;
   font-size: 1rem;
   color:#fff;

}
main .section-header .section-link a i {
   font-size: 1rem;
   margin:0 15px;
}
/* main section end */

.profile-card-container{
   position: relative;
   top:5%;
   right: -30%;
   margin: 0 auto;
   height: 700px;;
   background-color:#000;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   width:400px;
   height: auto;
   padding: 25px 70px;
   box-shadow: -4px 23px 6px -6px rgba(0,0,0,0.75);

}
.profile-1 div{
   transform:translate(40px,-50px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap:5px;
}
.profile-1 img{
   display: inline-block;
   width: 65px;
   border-radius: 50%;
   transform: translateX(-40px);
}
.profile-1 strong ,p {
   color: #fff;
}
.profile-1 div p{
   color:rgb(204, 204, 204);
}
.profile-1 strong{
   display: inline-block;
   padding:0 20px;
}
.profile-2 h3{
   color: #fff;
   font-size: 1.4rem;
   font-weight: 300;
   margin:-20px 0;
}
footer{
   position: relative;
   top: 18%;
   text-align: center;
}
footer span ,a {
   color: rgb(231, 231, 231);
}
.humburger{
   display: none;
   cursor: pointer;
}
.humburger .bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 3px 1px;
   background-color: #fff;
}

/* medium screen devices */
@media only screen and (max-width:768px) {
   body{
      overflow-x:auto;
   }
   nav{
      display: flex;
      position: relative;
      top: 0;
   }
   .navbar-links{
      display: flex;
      background-color: rgb(5, 4, 4);
      flex-direction: column;
      justify-content: center;
      gap:25px;
      text-align: center;
      width: 100%;
      height: auto;
      position: relative;
      top: 30px;
      left: 4px;
      padding: 40px 80px;
      margin:0 10px;
      border-radius: 3px;
      transform: translateY(-150%);
      transition: transform .6s ease;
   }
   .navbar-links.active{
      transform: translateY(0px);
   }
   .humburger{
      display: block;
   }
   .humburger.active .bar:nth-child(2){
      opacity: 0;
   }
   .humburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
      transition: transform .3s ease;
   }
   .humburger.active .bar:nth-child(3){
      transform: translateY(-4px) rotate(-45deg);
      transition: transform .3s ease;
   }
   main{
      width: 100%;
      transform: translateY(-20%);
   }
   .subsection-header a img{
      width: 400px;
      border-radius: 3px;
   }
   .profile-card-container{
      position: relative;
      right: 8px;
      background-color: rgb(5, 5, 5);
      border-radius: 3px;
      padding: 40px 0;
   }
}
